<launch>
    <arg name="simulation"  default="false"/>

    <include file="$(find crta_diffbot)/launch/start_gmapping.launch"/>

    <group if="$(eval arg('simulation'))">
        <include file="$(find crta_diffbot)/launch/simulation.launch">
        <arg name="view_in_rviz" value="false"/>
        </include>
    </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crta_diffbot)/rviz/slam_robot.rviz"/>
</launch>